# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
anders-test/basics/model_weights.pth
dataset/data_5_10000.npy
dataset/labels_5_10000.npy
anders-test/PyTorch_CRNN_Seq2Seq/dataset/data_5_10000.npy
anders-test/PyTorch_CRNN_Seq2Seq/dataset/labels_5_10000.npy
anders-test/pkg_iden/data/test2/dangshen/h1.jpg
anders-test/pkg_iden/data/test2/dangshen/l1.jpg
anders-test/pkg_iden/data/test2/dangshen/q1.jpg
anders-test/pkg_iden/data/test2/dangshen/q2.jpg
anders-test/pkg_iden/data/test2/dangshen/q3.jpg
anders-test/pkg_iden/data/test2/dangshen/q4.jpg
anders-test/pkg_iden/data/test2/dangshen/q5.jpg
anders-test/pkg_iden/data/test2/dangshen/r1.jpg
anders-test/pkg_iden/data/test2/dangshen/r2.jpg
anders-test/pkg_iden/data/test2/dangshen/r3.jpg
anders-test/pkg_iden/data/test2/dangshen/r4.jpg
anders-test/pkg_iden/data/test2/dangshen/r5.jpg
anders-test/pkg_iden/data/test2/dangshen/r6.jpg
anders-test/pkg_iden/data/test2/dangshen/r7.jpg
anders-test/pkg_iden/data/test2/dangshen/r8.jpg
anders-test/pkg_iden/data/test2/dangshen/z1.jpg
anders-test/pkg_iden/data/test2/dangshen/z10.jpg
anders-test/pkg_iden/data/test2/dangshen/z11.jpg
anders-test/pkg_iden/data/test2/dangshen/z12.jpg
anders-test/pkg_iden/data/test2/dangshen/z13.jpg
anders-test/pkg_iden/data/test2/dangshen/z14.jpg
anders-test/pkg_iden/data/test2/dangshen/z16.jpg
anders-test/pkg_iden/data/test2/dangshen/z17.jpg
anders-test/pkg_iden/data/test2/dangshen/z18.jpg
anders-test/pkg_iden/data/test2/dangshen/z19.jpg
anders-test/pkg_iden/data/test2/dangshen/z2.jpg
anders-test/pkg_iden/data/test2/dangshen/z20.jpg
anders-test/pkg_iden/data/test2/dangshen/z21.jpg
anders-test/pkg_iden/data/test2/dangshen/z3.jpg
anders-test/pkg_iden/data/test2/dangshen/z4.jpg
anders-test/pkg_iden/data/test2/dangshen/z5.jpg
anders-test/pkg_iden/data/test2/dangshen/z6.jpg
anders-test/pkg_iden/data/test2/dangshen/z7.jpg
anders-test/pkg_iden/data/test2/dangshen/z8.jpg
anders-test/pkg_iden/data/test2/dangshen/z9.jpg
anders-test/pkg_iden/data/test2/ningjiao/h1.jpg
anders-test/pkg_iden/data/test2/ningjiao/l1.jpg
anders-test/pkg_iden/data/test2/ningjiao/q1.jpg
anders-test/pkg_iden/data/test2/ningjiao/q2.jpg
anders-test/pkg_iden/data/test2/ningjiao/q3.jpg
anders-test/pkg_iden/data/test2/ningjiao/q4.jpg
anders-test/pkg_iden/data/test2/ningjiao/q5.jpg
anders-test/pkg_iden/data/test2/ningjiao/q6.jpg
anders-test/pkg_iden/data/test2/ningjiao/q7.jpg
anders-test/pkg_iden/data/test2/ningjiao/r1.jpg
anders-test/pkg_iden/data/test2/ningjiao/r2.jpg
anders-test/pkg_iden/data/test2/ningjiao/r3.jpg
anders-test/pkg_iden/data/test2/ningjiao/r4.jpg
anders-test/pkg_iden/data/test2/ningjiao/r5.jpg
anders-test/pkg_iden/data/test2/ningjiao/r6.jpg
anders-test/pkg_iden/data/test2/ningjiao/r7.jpg
anders-test/pkg_iden/data/test2/ningjiao/r8.jpg
anders-test/pkg_iden/data/test2/ningjiao/z1.jpg
anders-test/pkg_iden/data/test2/ningjiao/z10.jpg
anders-test/pkg_iden/data/test2/ningjiao/z11.jpg
anders-test/pkg_iden/data/test2/ningjiao/z12.jpg
anders-test/pkg_iden/data/test2/ningjiao/z13.jpg
anders-test/pkg_iden/data/test2/ningjiao/z14.jpg
anders-test/pkg_iden/data/test2/ningjiao/z15.jpg
anders-test/pkg_iden/data/test2/ningjiao/z2.jpg
anders-test/pkg_iden/data/test2/ningjiao/z3.jpg
anders-test/pkg_iden/data/test2/ningjiao/z4.jpg
anders-test/pkg_iden/data/test2/ningjiao/z5.jpg
anders-test/pkg_iden/data/test2/ningjiao/z6.jpg
anders-test/pkg_iden/data/test2/ningjiao/z7.jpg
anders-test/pkg_iden/data/test2/ningjiao/z8.jpg
anders-test/pkg_iden/data/test2/ningjiao/z9.jpg
anders-test/pkg_iden/data/test2_unknow/z15.jpg
